@model UniversityCourseandResultManagement.Driver_tb

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Driver_tb</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Driver_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Driver_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Driver_Name)
                @Html.ValidationMessageFor(model => model.Driver_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Driver_Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Driver_Address)
                @Html.ValidationMessageFor(model => model.Driver_Address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Driver_Vehicle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Driver_Vehicle)
                @Html.ValidationMessageFor(model => model.Driver_Vehicle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Drver_Route, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Drver_Route)
                @Html.ValidationMessageFor(model => model.Drver_Route)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Driver_CNIC, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Driver_CNIC)
                @Html.ValidationMessageFor(model => model.Driver_CNIC)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Driver_License, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Driver_License)
                @Html.ValidationMessageFor(model => model.Driver_License)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
