@model UniversityCourseandResultManagement.StudentAttendance_tb

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <br /> <br /> <br /> <br />
    <div>
        <h2>Watch Details</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AttendanceStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AttendanceStatus)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Student_tb.StudentName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Student_tb.StudentName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
