@model UniversityCourseandResultManagement.Models.Driver

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Driver</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.DriverName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DriverName)
                @Html.ValidationMessageFor(model => model.DriverName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DriverAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DriverAddress)
                @Html.ValidationMessageFor(model => model.DriverAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DriverVehicle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DriverVehicle)
                @Html.ValidationMessageFor(model => model.DriverVehicle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DriverRoute, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DriverRoute)
                @Html.ValidationMessageFor(model => model.DriverRoute)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DriverCNIC, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DriverCNIC)
                @Html.ValidationMessageFor(model => model.DriverCNIC)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DriverLicense, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DriverLicense)
                @Html.ValidationMessageFor(model => model.DriverLicense)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
